.kio-elasticity-canvas {
  float:left;
}

.elasticity-controls-container {
  text-align: center;
}

$mode-img-size: 96px;

.elasticity-mode-selector {

  padding-top: 2em;

  input[type=radio] {
    width   : $mode-img-size;
    padding : 0;
    opacity : 0;
  }

  input[type=radio] + label {
    display      : inline-block;
    margin-left  : -$mode-img-size;
    padding-left : $mode-img-size;
    line-height  : $mode-img-size;
    width: 0;
  }

  input[type=radio] + label.mode-move {
    background   : url('elasticity-resources/bt_move.png') no-repeat 0 0;
    margin-right: 1em;
  }

  input[type=radio] + label.mode-stick {
    background   : url('elasticity-resources/bt_stick.png') no-repeat 0 0;
  }

  input[type=radio]:checked + label.mode-move {
    background   : url('elasticity-resources/bt_move_hover.png') no-repeat 0 0;
  }

  input[type=radio]:checked + label.mode-stick {
    background   : url('elasticity-resources/bt_stick_hover.png') no-repeat 0 0;
  }
}

.elasticity-go {
  background-color: #e3e3e3;
  font-size: 1.2em;
  margin-top: 1em;
}

.elasticity-go:hover {
  background-color: #ffffc8;
}

.kio-base-box {
  background: #a6ccd6 url('elasticity-resources/fon-lev-povtor.png') 0 0 repeat//, url("elasticity-resources/tatlin-tower.png") 700px 0 repeat;
}